body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background-image: url(../public/assets/image/Background.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
select:hover {
  background-color: yellow;
  color: #000;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
*::-webkit-input-placeholder {
   color: rgb(255, 255, 255);
}